
body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'PT Sans Caption', sans-serif;
    background-color: #f7ecde;
}
h1{
    font-family: 'Pacifico';
    font-size: 50px;
    position: relative;

}
h1:hover::before {
        height: 50%;
    }
h1::before {
        content: "";
        position: absolute;
        width: 30%;
        height: 25%;
        left: 34%;
        bottom: 10px;
        background-color: #fec260;
        transition: height 350ms;
        z-index: -1;
    }
h2 {
    font-family: 'Righteous', sans-serif;
    background-image: linear-gradient(to right, #3ca55c, #dfd24d);
    font-size: 25px;
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent;
}

label{
  font-weight: bolder;
}

.rightcircle{
    color: brown;
}
.close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 1.5rem;
}
 .alert{
    background-color: #f7dcb1;
 }
